/*--------------------------------------------------------------
# Color
--------------------------------------------------------------*/
$theme-red-color: #CC5C5C;
$theme-medium-blue-color: #CC5C5C;
$theme-orange-color: #fba116;
$theme-green-color: #17ccb7;
$theme-dark-color: #14141F;
$theme-blue-color: #36b3d0;
